[versionner]
file = ./VERSION
date_format = %Y-%m-%d
up_part = patch
;default_init_version = 1.0.0

[vcs]
engine = git
commit_message = '%(version)s'
;tag_params =
;  -f
;  --local-user=some-key-id

[file:README.md]
enabled = true
search = ^\s*__version__\s*=.*$
replace = __version__ = '%(version)s'
date_format = %Y-%m-%d
match = line
search_flags = 
encoding = utf-8

[file:2:some/folder/some_file.py]
    enabled = true
    search = ^"Program is in version \d+\.\d+\.\d+"$
    replace = "Program is in version %(version)s"
    match = line
    search_flags = 
    encoding = utf-8
